fastapi==0.123.5
uvicorn[standard]==0.38.0
sqlalchemy==2.0.46
asyncpg==0.31.0
pydantic==2.11.7
pydantic-settings==2.12.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart==0.0.20
httpx==0.28.1
alembic==1.18.1
celery[pg]==5.6.2
redis==4.6.0
psycopg2-binary==2.9.10